/* Jobactive colors */
/* Built in bootstrap colors */
/*@btn-default-color:              @brand-primary;
@btn-default-bg:                 @job-white;
@btn-default-border:             @job-white;*/
.latestmessages .readicon {
  color: #777777;
}
.latestmessages .unreadicon {
  color: #009cb7;
}
.latestmessages .read a {
  font-weight: 400;
}
.latestmessages .read .unreadicon {
  display: none;
}
.latestmessages .unread a {
  font-weight: 500;
}
.latestmessages .unread .readicon {
  display: none;
}
.latestmessages .nounread .badge {
  display: none;
}
.latestmessages .modal-footer .datereceived {
  float: left;
  font-style: italic;
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
@media print {
}
/* Retina-ize images/icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* logo */
  /*    .navbar-brand { background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 97px 29px !important; }*/
}