/* Jobactive colors */
/* Built in bootstrap colors */
/*@btn-default-color:              @brand-primary;
@btn-default-bg:                 @job-white;
@btn-default-border:             @job-white;*/
.newcandidates .list-group li .li-title {
  width: 90%;
  font-weight: 400;
}
.newcandidates .list-group li .li-extra {
  width: auto;
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
@media print {
}
/* Retina-ize images/icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* logo */
  /*    .navbar-brand { background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 97px 29px !important; }*/
}